[pricepicker] {
  position: relative; }
  [pricepicker] input {
    padding-left: 22px; }
  [pricepicker] span {
    position: absolute;
    padding: 7px 12px;
    pointer-events: none; }

img.loader {
  margin: auto;
  display: block; }

div.loader {
  margin: auto;
  display: block;
  background: url("images/BB_wait.gif"); }

.modal-content div.loader {
  width: 100px;
  height: 100px; }

[bb-loading-spinner] div.loader-wrapper {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: white; }
  [bb-loading-spinner] div.loader-wrapper .loader {
    width: 100px;
    height: 100px; }
