/**
 * This set of styles is the workaround for scrollbars taking additional space when modal windows are showed.
 * Tested on Chrome, Firefox, IE 11, Edge.
 */
.window-overlay {
  @media (min-width: $screen-sm-min) {
    .modal-dialog {
      position: absolute;
      left: calc(50vw - #{$modal-md / 2});
    }

    .modal-sm {
      left: calc(50vw - #{$modal-sm / 2});
    }
  }

  @media (min-width: $screen-md-min) {
    .modal-lg {
      left: calc(50vw - (#{$modal-lg  / 2}));
    }
  }
}
